.l-column {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
}

.l-row {
    padding: 0;
    font-size: 0
}

.l-row {
    margin-left: -3.39506%
}

@media only screen and (max-width: 735px) {
    .section-body .l-column:first-child {
        margin-left: 0;
    }
}

.l-column {
    margin-left: 3.28358%
}

.small-1 {
    width: 5.04975%
}

.small-2 {
    width: 13.38308%
}

.small-3 {
    width: 21.71642%
}

.small-4 {
    width: 30.04975%
}

.small-5 {
    width: 38.38308%
}

.small-6 {
    width: 46.71642%
}

.small-7 {
    width: 55.04975%
}

.small-8 {
    width: 63.38308%
}

.small-9 {
    width: 71.71642%
}

.small-10 {
    width: 80.04975%
}

.small-11 {
    width: 88.38308%
}

.small-12 {
    width: 96.71642%
}

.small-offset-1 {
    margin-left: 11.61692%
}

.small-offset-2 {
    margin-left: 19.95025%
}

.small-offset-3 {
    margin-left: 28.28358%
}

.small-offset-4 {
    margin-left: 36.61692%
}

.small-offset-5 {
    margin-left: 44.95025%
}

.small-offset-6 {
    margin-left: 53.28358%
}

.small-offset-7 {
    margin-left: 61.61692%
}

.small-offset-8 {
    margin-left: 69.95025%
}

.small-offset-9 {
    margin-left: 78.28358%
}

.small-offset-10 {
    margin-left: 86.61692%
}

.small-offset-11 {
    margin-left: 94.95025%
}

.small-offset-12 {
    margin-left: 103.28358%
}

@media only screen and (min-width: 736px) {
    .small-1 {
        width: 5.44316%
    }

    .small-2 {
        width: 13.77649%
    }

    .small-3 {
        width: 22.10983%
    }

    .small-4 {
        width: 30.44316%
    }

    .small-5 {
        width: 38.77649%
    }

    .small-6 {
        width: 47.10983%
    }

    .small-7 {
        width: 55.44316%
    }

    .small-8 {
        width: 63.77649%
    }

    .small-9 {
        width: 72.10983%
    }

    .small-10 {
        width: 80.44316%
    }

    .small-11 {
        width: 88.77649%
    }

    .small-12 {
        width: 97.10983%
    }

    .small-offset-1 {
        margin-left: 11.22351%
    }

    .small-offset-2 {
        margin-left: 19.55684%
    }

    .small-offset-3 {
        margin-left: 27.89017%
    }

    .small-offset-4 {
        margin-left: 36.22351%
    }

    .small-offset-5 {
        margin-left: 44.55684%
    }

    .small-offset-6 {
        margin-left: 52.89017%
    }

    .small-offset-7 {
        margin-left: 61.22351%
    }

    .small-offset-8 {
        margin-left: 69.55684%
    }

    .small-offset-9 {
        margin-left: 77.89017%
    }

    .small-offset-10 {
        margin-left: 86.22351%
    }

    .small-offset-11 {
        margin-left: 94.55684%
    }

    .small-offset-12 {
        margin-left: 102.89017%
    }
}

@media only screen and (min-width: 1069px) {
    .small-1 {
        width: 6.39456%
    }

    .small-2 {
        width: 14.72789%
    }

    .small-3 {
        width: 23.06122%
    }

    .small-4 {
        width: 31.39456%
    }

    .small-5 {
        width: 39.72789%
    }

    .small-6 {
        width: 48.06122%
    }

    .small-7 {
        width: 56.39456%
    }

    .small-8 {
        width: 64.72789%
    }

    .small-9 {
        width: 73.06122%
    }

    .small-10 {
        width: 81.39456%
    }

    .small-11 {
        width: 89.72789%
    }

    .small-12 {
        width: 98.06122%
    }

    .small-offset-1 {
        margin-left: 10.27211%
    }

    .small-offset-2 {
        margin-left: 18.60544%
    }

    .small-offset-3 {
        margin-left: 26.93878%
    }

    .small-offset-4 {
        margin-left: 35.27211%
    }

    .small-offset-5 {
        margin-left: 43.60544%
    }

    .small-offset-6 {
        margin-left: 51.93878%
    }

    .small-offset-7 {
        margin-left: 60.27211%
    }

    .small-offset-8 {
        margin-left: 68.60544%
    }

    .small-offset-9 {
        margin-left: 76.93878%
    }

    .small-offset-10 {
        margin-left: 85.27211%
    }

    .small-offset-11 {
        margin-left: 93.60544%
    }

    .small-offset-12 {
        margin-left: 101.93878%
    }
}

@media only screen and (min-width: 736px) {
    .l-row {
        margin-left: -2.97619%
    }

    .l-column {
        margin-left: 2.89017%
    }

    .medium-valign-top {
        vertical-align: top !important
    }

    .medium-valign-center {
        vertical-align: middle !important
    }

    .medium-valign-bottom {
        vertical-align: bottom !important
    }

    .medium-1 {
        width: 5.44316%
    }

    .medium-2 {
        width: 13.77649%
    }

    .medium-3 {
        width: 22.10983%
    }

    .medium-4 {
        width: 30.44316%
    }

    .medium-5 {
        width: 38.77649%
    }

    .medium-6 {
        width: 47.10983%
    }

    .medium-7 {
        width: 55.44316%
    }

    .medium-8 {
        width: 63.77649%
    }

    .medium-9 {
        width: 72.10983%
    }

    .medium-10 {
        width: 80.44316%
    }

    .medium-11 {
        width: 88.77649%
    }

    .medium-12 {
        width: 97.10983%
    }

    .medium-offset-1 {
        margin-left: 11.22351%
    }

    .medium-offset-2 {
        margin-left: 19.55684%
    }

    .medium-offset-3 {
        margin-left: 27.89017%
    }

    .medium-offset-4 {
        margin-left: 36.22351%
    }

    .medium-offset-5 {
        margin-left: 44.55684%
    }

    .medium-offset-6 {
        margin-left: 52.89017%
    }

    .medium-offset-7 {
        margin-left: 61.22351%
    }

    .medium-offset-8 {
        margin-left: 69.55684%
    }

    .medium-offset-9 {
        margin-left: 77.89017%
    }

    .medium-offset-10 {
        margin-left: 86.22351%
    }

    .medium-offset-11 {
        margin-left: 94.55684%
    }

    .medium-offset-12 {
        margin-left: 102.89017%
    }
}

@media only screen and (min-width: 1069px) {
    .medium-1 {
        width: 6.39456%
    }

    .medium-2 {
        width: 14.72789%
    }

    .medium-3 {
        width: 23.06122%
    }

    .medium-4 {
        width: 31.39456%
    }

    .medium-5 {
        width: 39.72789%
    }

    .medium-6 {
        width: 48.06122%
    }

    .medium-7 {
        width: 56.39456%
    }

    .medium-8 {
        width: 64.72789%
    }

    .medium-9 {
        width: 73.06122%
    }

    .medium-10 {
        width: 81.39456%
    }

    .medium-11 {
        width: 89.72789%
    }

    .medium-12 {
        width: 98.06122%
    }

    .medium-offset-1 {
        margin-left: 10.27211%
    }

    .medium-offset-2 {
        margin-left: 18.60544%
    }

    .medium-offset-3 {
        margin-left: 26.93878%
    }

    .medium-offset-4 {
        margin-left: 35.27211%
    }

    .medium-offset-5 {
        margin-left: 43.60544%
    }

    .medium-offset-6 {
        margin-left: 51.93878%
    }

    .medium-offset-7 {
        margin-left: 60.27211%
    }

    .medium-offset-8 {
        margin-left: 68.60544%
    }

    .medium-offset-9 {
        margin-left: 76.93878%
    }

    .medium-offset-10 {
        margin-left: 85.27211%
    }

    .medium-offset-11 {
        margin-left: 93.60544%
    }

    .medium-offset-12 {
        margin-left: 101.93878%
    }

    .l-row {
        margin-left: -1.97711%
    }

    .l-column {
        margin-left: 1.93878%
    }

    .large-valign-top {
        vertical-align: top !important
    }

    .large-valign-center {
        vertical-align: middle !important
    }

    .large-valign-bottom {
        vertical-align: bottom !important
    }

    .large-1 {
        width: 6.39456%
    }

    .large-2 {
        width: 14.72789%
    }

    .large-3 {
        width: 23.06122%
    }

    .large-4 {
        width: 31.39456%
    }

    .large-5 {
        width: 39.72789%
    }

    .large-6 {
        width: 48.06122%
    }

    .large-7 {
        width: 56.39456%
    }

    .large-8 {
        width: 64.72789%
    }

    .large-9 {
        width: 73.06122%
    }

    .large-10 {
        width: 81.39456%
    }

    .large-11 {
        width: 89.72789%
    }

    .large-12 {
        width: 98.06122%
    }

    .large-offset-1 {
        margin-left: 10.27211%
    }

    .large-offset-2 {
        margin-left: 18.60544%
    }

    .large-offset-3 {
        margin-left: 26.93878%
    }

    .large-offset-4 {
        margin-left: 35.27211%
    }

    .large-offset-5 {
        margin-left: 43.60544%
    }

    .large-offset-6 {
        margin-left: 51.93878%
    }

    .large-offset-7 {
        margin-left: 60.27211%
    }

    .large-offset-8 {
        margin-left: 68.60544%
    }

    .large-offset-9 {
        margin-left: 76.93878%
    }

    .large-offset-10 {
        margin-left: 85.27211%
    }

    .large-offset-11 {
        margin-left: 93.60544%
    }

    .large-offset-12 {
        margin-left: 101.93878%
    }
}

.l-column--grid {
    vertical-align: baseline;
    margin-bottom: 3.28358%
}

@media only screen and (min-width: 736px) {
    .l-column--grid {
        margin-bottom: 2.89017%
    }
}

@media only screen and (min-width: 1069px) {
    .l-column--grid {
        margin-bottom: 1.93878%
    }

    .l-column--grid.large-1:nth-last-child(-n+12) {
        margin-bottom: 0
    }
}

@media only screen and (max-width: 735px) {
    .l-column--grid.small-12:nth-last-child(-n+1), .l-column--grid.small-1:nth-last-child(-n+12), .l-column--grid.small-2:nth-last-child(-n+6), .l-column--grid.small-3:nth-last-child(-n+4), .l-column--grid.small-4:nth-last-child(-n+3), .l-column--grid.small-6:nth-last-child(-n+2) {
        margin-bottom: 0
    }
}

@media only screen and (min-width: 736px) and (max-width: 1068px) {
    .l-column--grid.medium-12:nth-last-child(-n+1), .l-column--grid.medium-1:nth-last-child(-n+12), .l-column--grid.medium-2:nth-last-child(-n+6), .l-column--grid.medium-3:nth-last-child(-n+4), .l-column--grid.medium-4:nth-last-child(-n+3), .l-column--grid.medium-6:nth-last-child(-n+2) {
        /*margin-bottom: 0*/
    }
}

.l-content-width {
    margin-left: auto;
    margin-right: auto;
    width: 87.5%
}

@media only screen and (min-width: 736px) {
    .medium-show-tablecell {
        display: table-cell
    }

    .l-content-width {
        margin-left: auto;
        margin-right: auto;
        width: 692px
    }
}

@media only screen and (min-width: 1069px) {
    .l-content-width {
        margin-left: auto;
        margin-right: auto;
        width: 980px
    }
}