/* 
(R,G,B)
a.blue #0070c9, hover:#004175
a.red #da0f47, hover:#8f0a30
*/


/* MAIN THEME : light; */
:root {
    --main-bg-color: #FFF;
    --main-color: #333;
    --main-title-color: #111;
    --main-subtitle-color: #8E8E93;
    /* hamburger-background-color: #000 */
    --main-border-color: #E5E5E5;
    --main-row-bg-hover: #F8F8F8;
    --main-nav-bg-color: rgba(255, 255, 255, .9);
    --main-nav-border: rgba(51, 51, 51, .2);
    --main-nav-item-border: #D6D6D6;

    /* light-theme */
    --light-bg-color: #FFF;
    --light-color: #333;
    --light-title-color: #111;
    --light-subtitle-color: #8E8E93;
    /* hamburger-background-color: #000 */
    --light-border-color: #E5E5E5;
    --light-row-bg-hover: #F8F8F8;
    --light-nav-bg-color: rgba(255, 255, 255, .9);
    --light-nav-border: rgba(51, 51, 51, .2);
    --light-nav-item-border: #D6D6D6;

    /* dark theme */
    --dark-bg-color: #1F2022;
    --dark-color: #E5E5E5;
    --dark-title-color: #DDD;
    --dark-subtitle-color: #999;
    /* hamburger-background-color: #FFF */
    --dark-border-color: #464646;
    --dark-row-bg-hover: #262729;
    --dark-nav-bg-color: rgba(0,0,0,0.7);
    --dark-nav-border: rgba(51, 51, 51, .2);
    --dark-nav-item-border: rgba(68,68,68,0.5);

    /* night theme */
    --night-bg-color: #000;
    --night-color: #FFF;
}

:root, :root .light {
    --main-bg-color: var(--light-bg-color);
    --main-color: var(--light-color);
}

:root .dark {
    --main-bg-color: var(--dark-bg-color);
    --main-color: var(--dark-color);
}

:root .night {
    --main-bg-color: var(--night-bg-color);
    --main-color: var(--night-color);
}

body {
    color: var(--main-color);
    background: var(--main-bg-color);
}
.main {
    background: var(--main-bg-color);
}
.custom-menu {
    color: var(--main-color);
    background: var(--main-bg-color);
}
.custom-menu li a {
    color: var(--main-color);
}


/*
général :
background: #1F2022
color: #E5E5E5
border-color: #464646
(sidebar)background: #2D2E30
(sidebar titles/icons)color: #7C7C7C
(links)color: #1689FB
(menu)color: #FFFFFF

entité album :
(album)color: #DDDDDD
(artist)color: #999999

h1 :
color: #FFFFFF
h2 :
color: #DDDDDD
*/

@media (prefers-color-scheme: dark) {
	:root:not(.light):not(.night) {
	    --main-color: var(--dark-bg-color);;
	    --main-bg-color: var(--dark-bg-color);
	}

	html, body {
		color: var(--main-color);
		background: var(--main-bg-color);
	}

	/* NAVBAR */
	.we-localnav__background {
	    background-color: rgba(0,0,0,0.7) !important;
	}
	.we-button-flat--plain {
		color: white;
	}
	#nav-icon span {
	    background: #FFF;
	}
	#mobile-menu {
	    background-color: rgba(0,0,0,0.7);
	}
	#mobile-menu ul li {
	    border-color: rgba(68,68,68,0.5);
	}
	#mobile-menu ul li a {
	    color: white;
	}

	/* GENERAL */
	h1.section__headline--hero {
	    color: #FFF;
	}
	h2.localnav-title {
	    color: #FFF;
	}
	h2.section__headline {
	    color: #DDDDDD;
	}
	h3, .table__row__headline, .tracklist-item__text__headline {
	    color: #DDDDDD;
	}
	*:not(.preorder) h4 {
	    color: #999999;
	}

	.section--bordered, .table--see-all .table__head, .table__head, .table__row, .table--artwork .table__row:last-child, .table--see-all .table__row:last-child {
	    border-color: #464646;
	}

	.table--artwork .table__row__artwork, .table--see-all .table__row__artwork {
		border-bottom: none;
	}


	.is-itunes-theme .table__body--work .table__row:focus, .is-itunes-theme .table__body--work .table__row:hover, .is-itunes-theme .table__body--work:focus, .is-itunes-theme .table__body--work:focus tr, .is-itunes-theme .table__body--work:hover, .is-itunes-theme .table__body--work:hover tr, .is-itunes-theme .table__row.we-selectable-item--allows-interaction:focus, .is-itunes-theme .table__row.we-selectable-item--allows-interaction:hover, .is-music-theme .table__body--work .table__row:focus, .is-music-theme .table__body--work .table__row:hover, .is-music-theme .table__body--work:focus, .is-music-theme .table__body--work:focus tr, .is-music-theme .table__body--work:hover, .is-music-theme .table__body--work:hover tr, .is-music-theme .table__row.we-selectable-item--allows-interaction:focus, .is-music-theme .table__row.we-selectable-item--allows-interaction:hover {
	    /*background: rgb(24, 25, 27);*/
	    background-color: rgb(38, 39, 41);
	}

	.is-itunes-theme .table--see-all .table__body--work .table__row:focus td:first-child, .is-itunes-theme .table--see-all .table__body--work .table__row:hover td:first-child, .is-itunes-theme .table--see-all .table__body--work:focus td:first-child, .is-itunes-theme .table--see-all .table__body--work:hover td:first-child, .is-itunes-theme .table--see-all .table__row.we-selectable-item--allows-interaction:focus td:first-child, .is-itunes-theme .table--see-all .table__row.we-selectable-item--allows-interaction:hover td:first-child, .is-music-theme .table--see-all .table__body--work .table__row:focus td:first-child, .is-music-theme .table--see-all .table__body--work .table__row:hover td:first-child, .is-music-theme .table--see-all .table__body--work:focus td:first-child, .is-music-theme .table--see-all .table__body--work:hover td:first-child, .is-music-theme .table--see-all .table__row.we-selectable-item--allows-interaction:focus td:first-child, .is-music-theme .table--see-all .table__row.we-selectable-item--allows-interaction:hover td:first-child {
	    -webkit-box-shadow: -4px 0 0 0 rgb(38, 39, 41);
	    box-shadow: -4px 0 0 0 rgb(38, 39, 41);
	}

	.is-itunes-theme .table--see-all .table__body--work .table__row:focus td:last-child, .is-itunes-theme .table--see-all .table__body--work .table__row:hover td:last-child, .is-itunes-theme .table--see-all .table__body--work:focus td:last-child, .is-itunes-theme .table--see-all .table__body--work:hover td:last-child, .is-itunes-theme .table--see-all .table__row.we-selectable-item--allows-interaction:focus td:last-child, .is-itunes-theme .table--see-all .table__row.we-selectable-item--allows-interaction:hover td:last-child, .is-music-theme .table--see-all .table__body--work .table__row:focus td:last-child, .is-music-theme .table--see-all .table__body--work .table__row:hover td:last-child, .is-music-theme .table--see-all .table__body--work:focus td:last-child, .is-music-theme .table--see-all .table__body--work:hover td:last-child, .is-music-theme .table--see-all .table__row.we-selectable-item--allows-interaction:focus td:last-child, .is-music-theme .table--see-all .table__row.we-selectable-item--allows-interaction:hover td:last-child {
	    -webkit-box-shadow: 4px 0 0 0 rgb(38, 39, 41);
	    box-shadow: 4px 0 0 0 rgb(38, 39, 41);
	}

	/* CONTEXT MENU */
	.custom-menu {
		background-color: #1f2022;
	    border-color: #464646;
	}
	.custom-menu li:hover {
		background-color: #262729;
	}

}