:root {
    --main-color: #333;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    /*color: var(--main-color);*/
}

.artwork-img, .artwork::before {
    width: 200px;
    height: 200px;
}

@media (min-width: 736px) {
    .artwork-img, .artwork::before {
        width: 158px;
        height: 158px;
    }
}

@media (min-width: 1069px) {
    .artwork-img, .artwork::before {
        width: 146px;
        height: 146px;
    }
}

.icon-explicit::after, .icon-explicit::before {
    content: "";
    background: url(https://host.pluspremieres.us/files/explicit.svg) no-repeat center;
    height: 13px;
    width: 13px;
    background-size: 9px;
    text-indent: -99999999px;
    opacity: .8;
    margin-left: .3em;
}

.maj-link, .suppr-link {
    cursor: pointer;
}

.we-artwork::before {
    display: block;
}